*{
    box-sizing: border-box;
}
.fav-musicians{
    /* border: 10px solid black; */
}
.mozart{
    width: 25%;
    /* border: 2px solid red; */
    float: left;
    /* background: #cdbfbf; */
    padding: 20px;
}
.beethoven{
    width: 25%;
    float: left;
    /* background: blueviolet; */
    padding: 20px;
}
.box{
   
    clear: both;
}
.clearfix{
    clear:both;
}
.second{
    float: left;
    width: 25%;
    padding: 20px;
    /* background: rgb(61, 47, 169); */

}
.last{
    float: left;
    width: 25%;
    padding: 20px;

}
.fav-musicians::after{
    content: "";
    display: block;
    clear: both;

}