.box{
    width: 100px;
    height: 100px;
    background: lightpink;
    transition-property: background;
    /* transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition: height 2s ease-in-out; */
    transition: all 1s ease-in;
}


.box:hover{
    background: rgb(201, 26, 26);

    width: 200px;
    height: 50px;
}