body{
    background-color: rgb(69, 69, 95);
}
input:focus{
    padding: 20px;
    outline: none;
}
.first{
    content: HEllO;
    border: 2px solid black;
    text-align: center;
    background-color: aqua;
   margin: 10px 250px 10px 250px;


}
.second{
    text-align: center;
}
input[type="submit"]
{
    text-align: center;
    background-color: rgb(44, 44, 91);
    /* transform: translate(-200px); */
  
}
#third{
    text-align: center;
    
}