a:link{
    color: rgb(255, 171, 15);
}
a:visited{
    color: rgba(24, 25, 19, 0.639);

}
a:hover{
    color: green;
}
a:active{
    color: rgba(0, 0, 181, 0.965);
}
p:hover{
    background: #261f1f;

}